@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body .background{
    background-image: url(../images/table\ 2.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    



}

body #part1 .content {
    padding: 0.5em;
    background-color: whitesmoke;
    padding: 0;
    border-radius: 1.25em;
    max-width: 60em;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;


}

body #part1 .content img {
    width: 15em;
    height: 15em;
    float: left;
    margin-right: auto;
    border-radius: 3em;
    margin-right: auto;
}
body #part1 .content .part1 {
    display: grid; /* Use grid layout */
    grid-template-columns: auto 1fr auto; /* Three columns: auto for left space, 1fr for flexible center space, auto for right space */
    grid-column-gap: 8em; /* Add space between grid columns */
    align-items: center; /* Center vertically */
}



    

body #part1 .part1{
    flex: 1;
}

body #part1 .content .part1 h1 {
    font-size: 1em; 
    color: purple; 
}

body #part1 .content .part1 h1 span{
    font-size: 2em; 
    color: deeppink; 
}

body #part1 .content .part1 p {
    font-size: 1em; 
    color: purple; 
}

body #part1 .content .part1 span:first-of-type {
    font-size: 3em;
}
body #part1 .content .part1 span:last-of-type {
    color: deeppink; 
}



body #part1 .part2{
    flex: 1;
}


body #part1 .columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    background-color: beige;
    height: 100%;
   
    padding: 0;

}
body #part1 .columns .column{
    font-family: 'literata', sans-serif;
    padding: 0;
    margin: 0;
    border-radius: 3em;
}

body #part1 .columns .column h3{
    font-size: 1em;
    margin-bottom: 0.5em;
}

body #part1 .columns .column ul{
    list-style-type: disc;
    padding: 1.5em;
}





body #part1 .part2 .columns .column:nth-child(1) {
    
    background-color: #333333 ;
    padding: 5em;
    
}

body #part1 .part2 .columns .column:nth-child(2) {
    background-color: #D2B48C ;
    padding: 3em;
    
}

body #part1 .part2 .columns .column:nth-child(3) {
    background-color: #2C3E50;
    
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

img {
    animation: floatIn 1.5s ease forwards;
}



